* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	width: 100%;
	margin-bottom: 20px;
	background: #EEE;
}

.widget {
	float: left;
	width: 400px;
	height: 400px;
}

.widget > .inner {
	border: 1px solid;
	background: #ACE;
	position: absolute;
	left: 5px;
	top: 5px;
	bottom: 5px;
	right: 5px;
}

/* clearfix */
.grid:after {
	content: ' ';
	display: block;
	clear: both;
}

.fluid {
	width: 50%;
}

/* dragging */
.is-dragging,
.is-positioning-post-drag,
.ui-draggable-dragging {
	z-index: 10;
	background: orange;
}