$legend-healthy: #009688;
$legend-unreachable: #dc0808;
$legend-unknown: grey;

ul {
  list-style-type: none;
}

/* publication-widget{
	.panel-default {
		.panel-heading {
			color: white;
			background: $legend-healthy;
			text-align: center;
		}
	}
} */

.panel-default {
	.panel-heading.widget-panel{
		color: white;
		background: $legend-healthy;
		text-align: center;
		&.unhealthy {
			background: $legend-unreachable;
		}
	}
}

ul.publicationsContainer li{
	float: left;
    width: 50%;
}

.no-data-msg {
	text-align: center;
}

.legends-guide-panel.panel-group {
	#legendsGuide {
		.legend-line {
			font-size: 20px;
			&.legend-healthy{
				color: $legend-healthy;
			}
			&.legend-unreachable{
				color: $legend-unreachable;
			}
			&.legend-unknown{
				color: $legend-unknown;
			}
		}
	}
}

#impactTreeSectionName {
	text-align: center;
	color: #6b6767;
}