<div class="section" ng-hide="{{ isToolAvailable }}">
	<div class="jumbotron"><h4>This tool is currently not available.</h4></div>
</div>
<div class="section" ng-if="true">
	<tool-description tool="browser" home="false"></tool-description>

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="well sidebar">
				<impact-tree></impact-tree>
			</div>
		</div>

		<div class="col-lg-8 col-md-8 col-sm-12">
			<!--<input type="text" ng-model="testPubName" placeholder="Give a test publication name...">-->
			<!--<input type="text" ng-model="testValue1" placeholder="Give a test value...">-->
			<!--<input type="text" ng-model="testValue2" placeholder="Give a test value...">-->
			<!--<input type="text" ng-model="testValue3" placeholder="Give a test value...">-->
			<!--Healthy? <input type="checkbox" ng-model="testHealth" checked>-->
			<!--<button ng-if="testMode" type="button" class="btn btn-warning" id="mockButton" ng-click="mockDataDispatcher()">Dispatch mock data</button>-->

			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-12 col-lg-offset-10 col-md-offset-10">
					<legends-guide></legends-guide>
				</div>
			</div>

			<ul class="publicationsContainer">
				<li ng-repeat="sub in subscriptions">
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading widget-panel" data-toggle="collapse" data-target="{{ '#' + trim(sub.name) }}" ng-class="{'unhealthy': sub.health == false }">
								<h5>Introspection of <strong>{{ sub.name }}</strong></h5>
								<h6>Timestamp (CET): <strong>{{ sub.timestamp }}</strong></h6>
							</div>
							<div id="{{ trim(sub.name) }}" class="panel-collapse">
								<div class="panel-body">
									<input type="text" class="form-control" placeholder="Search in publication" ng-model="filterData">
									<table class="table table-hover">
										<thead>
										<tr>
											<td>
												<a ng-click="sortType = 'field'">
													Field
													<span class="glyphicon glyphicon-menu-down"></span>
												</a>
											</td>
											<td>
												<a ng-click="sortType = 'value'">
													Value
													<span class="glyphicon glyphicon-menu-down"></span>
												</a>
											</td>
										</tr>
										</thead>
										<tbody>
										<tr ng-if="sub.data.length === 0"><h4 class="no-data-msg"><span class="label label-info">No data is currently available.</span></h4></tr>
										<tr ng-repeat="datum in sub.data | orderBy:sortType:sortReverse | filter:filterData">
											<td>{{ datum.field }}</td>
											<td>{{ datum.value }}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					</div>
				</li>
			</ul>

			<!--<ds-atmosphere id="myDs" request-url="{{ atmourl }}" subscriptions="dip://dip/acc/LHC/RunControl/BeamMode"></ds-atmosphere>-->

		</div>
	</div>

</div>