<div class="section" ng-hide="{{ isToolAvailable }}">
	<div class="jumbotron"><h4>This tool is currently not available.</h4></div>
</div>
<div class="section" ng-if="false">
	<tool-description tool="ddns" home="false"></tool-description>
	<ddns-chart></ddns-chart>
</div>