<div class="section" ng-hide="{{ isToolAvailable }}">
	<div class="jumbotron"><h4>This tool is currently not available.</h4></div>
</div>
<div class="section" ng-if="false">
	<tool-description tool="maps" home="false"></tool-description>

	<div class="container" ng-if="!selectionMade">
		<h2>Currently available maps:</h2>

		<!-- TODO: ng-repeat-->
		<a href="#/tools/maps/alice"><button class="btn btn-lg btn-default">ALICE</button></a>
		<a href="#/tools/maps/atlas"><button class="btn btn-lg btn-default">ATLAS</button></a>
		<a href="#/tools/maps/cms"><button class="btn btn-lg btn-default">CMS</button></a>
		<a href="#/tools/maps/lhcb"><button class="btn btn-lg btn-default">LHCb</button></a>
	</div>

	<div class="row" ng-if="selectionMade">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="well">
				<!--map = routeParam.map-->
				<connectivity-map map="{{ mapSelected }}"></connectivity-map>
			</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="well">
				<h4>ATLAS-88sdfjf@cs-ccr-gcsal for <span>{{ map.toUpperCase() }}</span></h4>
				<table class="table table-hover">
					<thead>
					<tr>
						<th ng-repeat="tableHeader in tableHeaders">{{ tableHeader }}</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="tableDatum in tableData">
						<td>{{ tableDatum.publisherName }}</td>
						<td>{{ tableDatum.pid }}</td>

						<!-- TODO: If available: green, etc. -->
						<td><span class="label label-success" ng-style>{{ publisherTableDatum.state }}</span></td>
						<td>{{ tableDatum.host }}</td>
						<td>{{ tableDatum.totalServices }}</td>
						<td>{{ tableDatum.dimVersion }}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="well">
				<highchart config="mapChart.cfg"></highchart>
			</div>
		</div>
	</div>
</div>