<div class="section" ng-hide="{{ isToolAvailable }}">
	<div class="jumbotron"><h4>This tool is currently not available.</h4></div>
</div>
<div class="section" ng-if="false">
	<tool-description tool="publishers" home="false"></tool-description>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
			<span class="glyphicon glyphicon-chevron-left" title="Hide DIP publishers"></span>
		</a>
		<publishers-table></publishers-table>
	</div>

	<button type="button" class="btn" onclick="openNav()">Show DIP publishers</button>

	<div id="main">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="well">
				<h1>Chart</h1>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="well">
				<h1>Table</h1>
			</div>
		</div>
	</div>

</div>