<div name="ddns-chart">
    <div class="row">
        <div class="col-md-6 well col-md-offset-3">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th ng-repeat="ddnsTableHeader in ddnsTableHeaders">{{ ddnsTableHeader }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-repeat="ddnsTableDatum in ddnsTableData">{{ ddnsTableDatum }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div ng-repeat="item in items" class="col-md-4 well">
            <highchart config="item.cfg"></highchart>
        </div>
    </div>
</div>