<h2 id="impactTreeSectionName">{{ impactTreeSectionName }}</h2>
<hr/>

<form>
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search for a publication" ng-model="filter">
		<div class="input-group-btn">
			<button class="btn btn-default">
				<i class="glyphicon glyphicon-search"></i>
			</button>
		</div>
	</div>
</form>

<!--Change to dipTopics-->
<ul ng-repeat="dipTopic in dipTopics | filter:filter | orderBy" class="nav nav-pills nav-stacked">
	<li>
		<button class="btn btn-default btn-block" ng-click="displayData(dipTopic)">
			{{ dipTopic }}
		</button>
	</li>
</ul>