<div class="legends-guide-panel panel-group">
	<button ng-if="testMode" type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#legendsGuide">Legends guide</button>
	<div id="legendsGuide" class="panel-collapse collapse">
		<table class="table">
			<thead>
				<tr>
					<th>Colour</th>
					<th>Meaning</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span class="glyphicon glyphicon-minus legend-line legend-healthy"></span>
					</td>
					<td>Healthy</td>
				</tr>
				<tr>
					<td>
						<span class="glyphicon glyphicon-minus legend-line legend-unreachable"></span>
					</td>
					<td>Out of reach</td>
				</tr>
				<tr>
					<td>
						<span class="glyphicon glyphicon-minus legend-line legend-unknown"></span>
					</td>
					<td>Unknown status</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>