<div id="navigation-bar">
    <nav class="navbar navbar-default" id="top-menu" role="navigation">
        <div class="container-fluid">

			<div class="navbar-header">
				<a class="navbar-brand" href="#/home">DIP Tools</a>
			</div>

			<ul class="nav navbar-nav">
				<li ng-if="isToolAvailable('publishers')"><a href="#/tools/publishers">Publishers Monitor</a></li>
				<li ng-if="isToolAvailable('maps')" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Connectivity Maps<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#/tools/maps/alice">ALICE</a></li>
						<li><a href="#/tools/maps/atlas">ATLAS</a></li>
						<li><a href="#/tools/maps/cms">CMS</a></li>
						<li><a href="#/tools/maps/lhcb">LHCb</a></li>
					</ul>
				</li>
				<li ng-if="isToolAvailable('ddns')"><a href="#/tools/ddns">DDNS Monitor</a></li>
				<li ng-if="isToolAvailable('browser')"><a href="#/tools/browser">Browser</a></li>
			</ul>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<ul class="nav navbar-nav navbar-center">
							<li><a href="#/search"><span class="glyphicon glyphicon-home"></span></a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-question-sign"></span></a>
						<ul class="dropdown-menu">
							<li><a href="https://readthedocs.web.cern.ch/display/ICKB/DIP+Web+Tools" rel="noopener" target="_blank">About DIP Tools</a></li>
							<li><a href="mailto:icecontros.support@cern.ch" target="_top">Help and support</a></li>
							<li><a href="" rel="noopener" target="_blank">Report an issue</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
    </nav>
</div>