<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-repeat="publisherTableHeader in publisherTableHeaders">{{ publisherTableHeader }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="publisherTableDatum in publisherTableData">
                <td>{{ publisherTableDatum.publisherName }}</td>
                <td>{{ publisherTableDatum.pid }}</td>

                <!-- TODO: If available: green, etc. -->
                <td><span class="label label-success" ng-style>{{ publisherTableDatum.state }}</span></td>
                <td>{{ publisherTableDatum.host }}</td>
                <td>{{ publisherTableDatum.totalServices }}</td>
                <td>{{ publisherTableDatum.dimVersion }}</td>
            </tr>
        </tbody>
    </table>
</div>