<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading widget-panel" data-toggle="collapse" data-target="{{ '#' + widgetid }}" ng-class="{'unhealthy': health == 'false' }">
			<h5>Introspection of <strong>{{ widgettopic }}</strong></h5>
			<h6>Timestamp (CET): <strong>{{ timestamp }}</strong></h6>
		</div>
		<div id="{{ widgetid }}" class="panel-collapse"> <!-- class="collapse"-->
			<div class="panel-body">
				<input type="text" class="form-control" placeholder="Search..." ng-model="filterData">
				<table class="table table-hover">
					<thead>
						<tr>
							<td>
								<a ng-click="sortType = 'field'">
									Field
									<span class="glyphicon glyphicon-menu-down"></span>
								</a>
							</td>
							<td>
								<a ng-click="sortType = 'value'">
									Value
									<span class="glyphicon glyphicon-menu-down"></span>
								</a>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="datum in parseData(data) | orderBy:sortType:sortReverse | filter:filterData">
							<td>{{ datum.field }}</td>
							<td>{{ datum.value }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>