<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"
             data-toggle="collapse"
             data-target="{{ '#' + collapseId}}">

            <h4 class="panel-title"> {{ toolName }} </h4>
        </div>

        <div ng-attr-id="{{ collapseId }}"
             class="panel-collapse"
             ng-class="{'collapse': home == 'false' }">

            <div class="panel-body">{{ toolDescription }}</div>
        </div>
    </div>
</div>